---
import SiteLayout from "../layouts/SiteLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import GallerySection from "../components/GallerySection.astro";
import AboutSection from "../components/AboutSection.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<SiteLayout title="Ursula Enderle Fotografie" description="Hochzeitsfotografie und Immobilienfotografie aus Fischingen.">
	<SiteHeader />
	<main id="top">
		<HeroSection />
		<GallerySection />
		<AboutSection />
	</main>
	<SiteFooter />
</SiteLayout>
