---
---
<div id="lightbox" class="lightbox" role="dialog" aria-label="Bildvorschau">
	<span id="close-lightbox" class="lightbox__close" aria-label="Lightbox schließen">✕</span>
	<img id="lightbox-img" class="lightbox__image" src="" alt="Vorschau" />
</div>

